<!DOCTYPE html>
<html lang="en" ng-app="MyApplication">
<head>
    <title>Document</title>
</head>
<body ng-controller="MainController">
   
   <input type="checkbox" ng-model="displayContent"/> Show Content

   <p style="border:1px solid red; background-color:yellow"
        ng-show="displayContent"> 
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit veritatis illo optio, deserunt qui quo velit nostrum laborum voluptas repellendus error saepe nesciunt voluptatem laboriosam perspiciatis eveniet tempora ut consequatur. 
   </p>

  

   <p style="border:1px solid red; background-color:grey"
   ng-if="displayContent"> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit veritatis illo optio, deserunt qui quo velit nostrum laborum voluptas repellendus error saepe nesciunt voluptatem laboriosam perspiciatis eveniet tempora ut consequatur. 
   </p>


   <ul>
           <li ng-repeat="tech in technologies">  {{ $index  }} {{tech}} -> {{ $odd }}</li>
   </ul>
   

   <input type="button" value="Click" ng-click="onButtonClick()"/>

  
    <script src="../angular.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>