<!DOCTYPE html>
<html lang="en" data-ng-app="MyApplication">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>

</head>
<body>
    <div class="container-fluid" data-ng-controller="HomeController">
        <h1>SSI Computer Education - Employees</h1>
        
        <div style="float:right">
            <label for="limit">No. of records : </label>
            <input id="limit" type="text" data-ng-model="noOfRecords"/>
        </div>
        <table class="table table-hover">
            <thead class="warning">
                <tr>
                    <th class="cursorPointer" data-ng-click="orderByColumn='firstName'">Name</th>
                    <th class="cursorPointer" data-ng-click="orderByColumn='gender'">Gender</th>
                    <th class="cursorPointer" data-ng-click="orderByColumn='salary'">Salary</th>
                    <th class="cursorPointer" data-ng-click="orderByColumn='age'">Age</th>
                    <th class="cursorPointer" data-ng-click="orderByColumn='designation'">Designation</th>
                </tr>
                <tr>
                    <th><input type="text" data-ng-model="searchEmployee.firstName"/></th>
                    <th><input type="text" data-ng-model="searchEmployee.gender"/></th>
                    <th><input type="text" data-ng-model="searchEmployee.salary"/></th>
                    <th><input type="text" data-ng-model="searchEmployee.age"/></th>
                    <th><input type="text" data-ng-model="searchEmployee.designation"/></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="emp in employees | filter : searchEmployee | orderBy : orderByColumn | limitTo : noOfRecords" data-ng-if="emp.isActive">
                    <td data-ng-bind="emp.firstName | salutation:emp.gender | uppercase"></td>
                    <td data-ng-bind="emp.gender | lowercase"></td>
                    <td data-ng-bind="emp.salary | currency"></td>
                    <td data-ng-bind="emp.age"></td>
                    <td data-ng-bind="emp.designation"></td>
                </tr>
            </tbody>
        </table>



        <hr/>

   



    </div>

   



    <script src="../bootstrap.js"></script>
    
    <script src="../angular.min.js"></script>
    <script src="./main.js"></script>

</body>
</html>