<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">


</head>
<body ng-controller="MainCtrl">
     
   <div>
    Enter the first Number : 
    <input type="number" ng-model="firstNumber" ng-change="add()">
   </div>

   <div>
      Enter the second Number : 
      <input type="number" ng-model="secondNumber" ng-change="add()">
    </div>
  

 
  
    <div>
       <b> {{thirdNumber}} </b>
    </div>

     
    <script src="../lib/js/angular.js"></script>
    <script src="./main.js"></script>
</body>
</html>